/*-------------------------------------------------------
                            fonts
---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/*-------------------------------------------------------
                    common styles
---------------------------------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
}


/*----------------------------------------------------------
                    header styles
------------------------------------------------------------*/

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-buttons {
    display: flex;
}

.nav-button {
    margin-left: 34px;
    list-style-type: none;
}

.nav-button a {
    text-decoration: none;
    color: black
}



















/*--------------------------------------------------
                resposive styles
----------------------------------------------------*/

/* mobile devices */